body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "dayView settingsView"
        "dayView calendarView"
}

h1{
    font-size: 1.2rem;
}

h2{
    font-size: 1.2rem;
}

.calendarSettings{
    grid-area: settingsView;
    text-align: center;
    background-color: #3F51B5;
}
.calendarSettings label{
    display: none;
}

.calendarSettings select{
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    background-color: transparent;
    margin: 0.4rem;
}

.calendarSettings select:hover{
    background-color: #C5CAE9;
}

.calendarView{
    grid-area: calendarView;
    margin: 0.5em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    grid-gap: 0.5em;
}

.day{
    background-color: #C5CAE9;
}

.day--active{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid transparent;
}
  
.day--active:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid #303F9F;
}

.day--inactive{
    background-color: #dedede;
}

.day__lbl{
    margin: 0;
    background-color: #3F51B5;
    color: #ffffff;
    padding-left: 0.2rem;
}

.dayHeader{
    text-align: center;   
}

.dayView{
    position: relative;
    grid-area: dayView;
    background-color: #448AFF;
    width: 20vw;
    height: 100%;
    opacity: 100;
    transition: opacity 0.2s 0.2s, width 0.2s ;
}

.dayView--hidden{
    width: 0;
    opacity: 0;
    transition: opacity 0.2s, width 0.2s 0.2s;
}

.dayView__header{
    margin-top: 2.5rem;
    text-align: center;
}

.dayView__close{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: 2rem;
    transition: color 0.3s;
}

.dayView__close:hover{
    color: #ffffff;
}